<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anju Ka Pizza</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="l-header">
        <nav class="nav">
            <div>
                <a href="/" class="nav__logo">AKP</a>
            </div>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="bookmeal" class="nav__link">Book Your Meal</a></li>
                    <li class="nav__item"><a href="#new" class="nav__link">Combos</a></li>
                    <li class="nav__item"><a href="tracking" class="nav__link">Tracking</a></li>
                </ul>
            </div>
            <div>
                <!-- <i class='bx bx-cart nav__cart'></i> -->
                <i class='bx bx-menu nav__toggle' id='nav-toggle'></i>
            </div>
        </nav>
    </header>
    <main class="l-main">
        <section class="home" id='home'>
            <div class="home__container bd-grid">
                <div class="home__data">
                    <h1 class="home__title">
                        ORDER<br><span>NOW</span>
                    </h1>
                    <a href="bookmeal" class="button">BOOK YOUR MEAL</a>
                </div>
                <img src="/static/img/homeimg.png" alt="" class="home__img">
            </div>
        </section>
        <secion class="collection section">
            <div class="collection__container">
                <div class="collection__box">
                    <img src="/static/img/collection1.png" alt="" class="collection__img">
                    <div class="collection__data">
                        <h2 class="collection__title">
                            <span class="collection__subtitle">
                                6 FLAVOUR
                            </span><br>
                            GRAND COMBO
                        </h2>
                        <a href="/{{2}}/{{5}}" class="collection__view">View Deal</a>
                    </div>
                </div>

                <div class="collection__box">
                    <div class="collection__data">
                        <h2 class="collection__title">
                            <span class="collection__subtitle">
                                CHILLI
                            </span><br>
                            PANEER PIZZA
                        </h2>
                        <a href="/{{2}}/{{5}}" class="collection__view">View Deal</a>
                    </div>
                    <img src="/static/img/collection2.png" alt="" class="collection__img">
                </div>
            </div>
        </secion>

        <section class="featured section" id='featured'>
            <h2 class="section-title">
                FEATURED PRODUCTS
            </h2>
            <a href="#" class="section-all">View All</a>
            <div class="featured__container bd-grid">
                {%for feature in featured%}
                <div class="featured__product">
                    <div class="featured__box">
                        <!-- <div class="featured__new">NEW</div> -->
                        <img src="/static/img/feature{{feature.id}}.png" class='featured_img'>
                    </div>
                    <div class="featured__data">
                        <h3 class="featured__name">
                            <a href="/{{2}}/{{feature.id}}" class="featured__link">{{feature.name}}</a>
                        </h3>
                        <span class="featured__preci">${{feature.price}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
<!-- COMBO ZONE -->
        <section class="new section" id='new'>
            <h2 class="section-title">OUR COMBOS</h2>
            <a href="" class="section-all">View All</a>
            <div class="new__container bd-grid">
                {% for combo in combos%}
                    <div class="new__box">
                        <img src="/static/img/new{{combo.id}}.png" alt="" class="new__img">
                        <div class="new__link">
                            <a href="/{{1}}/{{combo.id}}" class="button">VIEW COMBO</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__container bd-grid">
            <div class="footer__box">
                <h3 class="footer__title">ANJU PIZZA WALI</h3>
                <p class="footer__deal">Online Food Store</p>
                <a href="#"><img src="/static/img/footerstore1.png" alt="" class="footer__store"></a>
                <a href="#"><img src="/static/img/footerstore2.png" alt="" class="footer__store"></a>
            </div>
            <div class="footer__box">
                <h3 class="footer__title">EXPLORE</h3>
                <ul>
                    
                        <li><a href="{% url 'home' %}" class="footer__link">Home</a></li>
                        <li><a href="{% url 'bookmeal' %}" class="footer__link">Book your Meal</a></li>
                        <li><a href="{% url 'home' %}" class="footer__link">Combos</a></li>
                        <li><a href="{% url 'tracking' %}" class="footer__link">Tracking</a></li>
                </ul>
            </div>

            <!-- <div class="footer__box">
                <h3 class="footer__title">OUR SERVICES</h3>
                <ul>
                    <li><a href="#" class="footer__link">Pricing</a></li>
                    <li><a href="#" class="footer__link">Free Shipping</a></li>
                    <li><a href="#" class="footer__link">Gift Cards</a></li>
                </ul>
            </div> -->
            <div class="footer__box">
                <h3 class="footer__title">FOLLOW</h3>
                <a href="#" class="footer__social"><i class='bx bxl-facebook-square' ></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-instagram' ></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-twitter' ></i></a>
            </div>
        </div>
        <p class="footer__copy">&#169 COPYRIGHT 2022 all rights reserved</p>
    </footer>

    <!-- main js -->
    <script src='/static/main.js'></script>
</body>
</html>